/*--- COMMON ---*/

.wrapper {
	width: 100vw;
	height: 100vh;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Lato' , sans-serif;
	background: url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 12px;
}

/*--- HEADER ---*/

.header__top {
	padding: 12px 0 28px 0; 
	color: $accent;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
}

.logo__pic {
	display: block;
	width: 168px;
	height: 64px;
	background: #000;
}

/*--- MENU ---*/

.menu {
	display: flex;
	height: 64px;
	align-items: flex-end;
	justify-content: flex-end;

	&.mobile {
		display: flex;
	}

}

.menu__item {
	margin-left: 30px;
	position: relative;	
}

.menu__link {
	color: $white;
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		color: $black;
	}
}

/*--- MENU MOBILE ---*/

.nav-mobile {
	width: 100%;
	height: 100%;
	padding: 100px 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background: $bg-mobile;
	box-sizing: border-box;
}

/*--- HAMBURGER ---*/

.icon-mobile {
  display: none;
  width: 26px;
  height: 18px;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: .5s all ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 4;
}

.bar {
  display: block;
  height: 2px;
  width: 26px;
  background: $white;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  position: absolute;
  left: 0;
}  

.bar-one {
  top: 0px;
}

.bar-two {
  width: 16px;
  top: 8px;
}

.bar-three {
  top: 16px;
}

.icon-mobile.open {
   .bar-one {
	  transform: rotate(45deg);
	  top: 7px;
	  left: 0px;
   }

   .bar-two {
	  transform: rotate(45deg);
	  width: 0%;
  	  opacity: 0;
   }

   .bar-three {
	  transform: rotate(-45deg);
  	  top: 7px;
  	  left: 0px;
   }	
}

/*--- SUBMENU ---*/

.submenu {
	width: 180px;
	padding: 65px 0 35px 0;
	background: $white;
	text-align: center;
	position: absolute;
	top: -18px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	transition: 0.2s ease-out;
	z-index: 2;
}

.submenu__item {
	margin-bottom: 18px;

	&:last-child {
		margin: 0;
	}

}

.submenu__link {
	
	text-decoration: none;
	color: $black;

	&:hover {
		color: #999;
	}

} 

.menu__item--submenu {

	&:hover {

		.menu__link {

			position: relative;
			z-index: 3;
			color: $black;

			&:after {
				content: '';
				display: block;
				width: 40px;
				height: 2px;
				background: $accent;
				position: absolute;
				top: 30px;
				left: 50%;
				transform: translateX(-50%);
			}

		}

		.submenu {
			opacity: 1;
			visibility: visible;
		}

	}

}



/*--- BANNER ---*/

.banner {
	max-width: 890px;
	max-height: 115px;
	margin: auto;
	text-align: center;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.banner__header {
	margin-bottom: 44px;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: $white;
}

.banner__button {
	padding: 18px 62px; ;
	background: $accent;
	text-transform: uppercase;
	text-decoration: none;
	color: $black;
}