@media screen and (max-width: 1200px) {
  .hide-large {
    display: none;
  }

  .hide-small,
  .icon-mobile {
  	display: block;
  }

  .phone {
  	padding-bottom: 12px;
  }

  .logo__pic {
  	width: 120px;
  	height: 45px;
  }

}